<div class="jumbotron">
      	<div class="container">
	      	<div class="col-lg-9">
	        	<h1>Jumbotron heading</h1>
	        	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	        	<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
	        </div>
	      	<div class="col-lg-3">
	      		<p class="text-center">
	      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi commodo
	      			c

	      			<a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
	      		</p>

	      	</div>
      	</div>
      </div>

      <div class="row marketing">
        <div class="col-lg-8">
          <h3>Welcome 'on board' the Crewlink website…</h3>
          	<ul>
          		<li>Bored with the 9-to-5 job routine?</li>
          		<li>Want an exciting new career?</li>
          		<li>Welcome the chance to see some of the world’s top sights?</li>
          		<li>Like to work for one of the world’s biggest airlines?</li>
          		
          	</ul>
          	<h3>If the answers are Yes, then Crewlink has the ideal future for you. </h3>
          	<p>As an official training and recruitment partner with Ryanair, Crewlink specialises in Recruiting, Training and Employing Airline Cabin Crew for Europe’s leading low-fares airline.</p>
          	<p>Uniquely among cabin crew recruitment agencies, Crewlink offers the ONLY independent, residential training facility in Europe.</p>
         
          	<h2>We look forward to seeing you On Board.</h2>

          	<h1 class="text-right">'Careers Take Off with Crewlink'</h1>
        </div>

        <hr/>

        <div class="col-lg-4">
          <advert-sidebar></advert-sidebar>
          <testimonial-sidebar></testimonial-sidebar>
  	    	<!-- <div class="row">				
  					<h4>Subheading</h4>
        				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>				
  					<h4>Subheading</h4>
  					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>			
    			</div>
    			<div class="row">				
    					<h4>Subheading</h4>
          				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>				
    					<h4>Subheading</h4>
    					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>			
    			</div> -->
        </div>

      </div>