<div id="footer">
    <div class="container">
      <div class="col-lg-4 block-bottom">
              <p class="text-left">
                Crewlink Ireland Ltd,
                39 Southern Cross Business Park,
                Boghall Road, Bray,
                Co. Wicklow, Ireland.
                <br/>
                Tel: +353 1 895 2065 
                Fax: +353 1 895 2066 
                Email: recruit@crewlink.ie
              </p>
      </div>
            <div class="col-lg-4 block-bottom">
              <ul>
                <li>Disclaimer | Sitemap | Contact Us</li>
                <li>©2014 Crewlink Ireland Ltd</li>
                <li>Web Design by Enhance.ie</li>                     
              </ul>
            </div>
    </div>
</div>