


<div> <!-- Main container -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">			
			<div id="header-container">
				<div class="logoCL col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href="#">
					<img class="logo img-responsive" src="http://www.crewlink.ie/design/images/logo.png" />
					<!--
				    <h1 class="crewlink-logo-main"></h1>
				    -->
					</a>
				</div>

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>					
				</div>

				<div class="header col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<ul class="navbar-collapse collapse  nav nav-pills pull-right">
						<li class="active"><a class="mainItem" href="/">Home</a></li>
							<li class="dropdown">
								<a class="mainItem" href="#" class="dropdown-toggle" data-toggle="dropdown">About Crewlink <b class="caret"></b></a>
								<ul class="dropdown-menu">
								    <li><a href="#">About Crewlink</a></li>
								    <li><a href="#">About Ryanair</a></li>
								</ul>
							</li>
						<li><a class="mainItem" href="#">FAQs</a></li>
						<li><a class="mainItem" href="#">Testimonials</a></li>
						<li><a class="mainItem" href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			

		</div>

	<div class="masthead">
		<ul class="nav nav-justified">
			<li class="dropdown">
				<a class="mainItem" href="#" class="dropdown-toggle" data-toggle="dropdown">About the Job <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="vacancies">About the Job</a></li>
						<li><a href="#">A Day in The Life</a></li>
						<li><a href="#">Videos</a></li>
						<li><a href="#">Rough Guide</a></li>
					</ul>
			</li>
	      	<li><a class="mainItem" href="#">5 Stages to 'Take Off'</a></li>
      		<li class="dropdown">
				<a class="mainItem" href="#" class="dropdown-toggle" data-toggle="dropdown">Hahn Traning Center (HTC) <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="gallery">Training Center Gallery</a></li>
					<li><a href="#">Accomodation Gallery</a></li>
					<li><a href="#">Wall of Fame Gallery</a></li>
					<li><a href="#">Student of The Week Gallery</a></li>
				</ul>
            </li>
			<li><a class="mainItem" href="apply">Recruitement Days</a></li>
			<li><a class="mainItem" href="#" class="minMenu">Fees</a></li>
			<li><a class="mainItem" href="#">Apply Online</a></li>
	    </ul>
	</div>
	<!--
	</div>
	-->
	</div>
</div>