<!--  SLIDESHOW -->
<div class="row-sideBar">
	<div class="monContainer">

		<div class="slide" ng-repeat="image in images" ng-show="image.visible">
			<span ng-bind="image.index"></span><br/><br/>
			<img class="img-responsive" ng-src="/{{image.src}}" />			
		</div>

		<div class="btnSlideshow">
			<div ng-repeat="image in images" >
				<div class="lili" ng-click="clickToImg(image.index)"></div>
			</div>
		</div>

			<br/>
			<br/>

				<div class="arrows">
					<a href="#" ng-click="prev()">
					 	<< Prev
					</a>
					<a href="#" ng-click="next()">
					 	Next >>
					</a>
				</div>
	</div>
</div>