
<div class="row-sideBar">       
  <h3>Testimonials</h3>
    <hr class="hr-2" />
      <p>"I’m now flying full time out of London Stansted with Ryanair and I love every moment of it. 
        Hahn Training Centre was a great place to train and I met some lovely people. 
        I would certainly recommend it to my friends."
        <br/><br/>
        <strong>Corey Seagrim-Froud</strong>
        <br/><br/>
        
        Read full testimonial<br/>
        Read More Testimonials Here

      </p>           
  </div>
  <div class="row-sideBar">       
      <h3>News</h3>
          <p>Apply online NOW !! <br/>
            (23/05/2013)
          </p>        
      
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('a.btn').on('click' , function(){
      console.log('ooooko');
    })
  }) 
</script>