

      <!-- END HEADER -->

  <div class="container">
		<div class="form-apply">
			<form action="https://www.vivos.me/session/processSignUp" class="form-horizontal signUpForm clearfix" id="regForm-candidate" role="form" method="POST">
			    <div class="form-group">
			        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name">
			    </div>

			    <div class="form-group">
			        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your surname">
			    </div>

			    <div class="form-group">
			        <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
			    </div>

			    <div class="form-group">
			        <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
			    </div>

			    <div class="form-group">
			        <input type="password" class="form-control" id="confirmedPassword" name="confirmedPassword" placeholder="Confirm your password">
			    </div>
			    <div class="signin-btn">
			        <input id="jobSeeker" type="submit" name="signUpButton1" class="btn btn-signup" value="Sign up">
			    </div>
			</form>
		</div>
  

  <div class="col-lg-8">
    <div>
		<h2>Lisbon 23-05-2014</h2>	
      <p>
        Crewlink will be holding Assessment Days all over Europe in 2014.
      </p>
      <p>
        Things you will need to bring with you to the Assessment Day:
        · 1 copy of your CV in English.
        · Full Original EU Passport and 1 photocopy of your Passport. 
        · EU Passport must be valid for more than 1.5 years from interview date. For example, if you attend an interview in July 2013, your passport must be valid to at least December 2014.
      </p>
      <hr>
      <p>
        REQUIRED CLOTHING FOR CREWLINK CABIN CREW ASSESSMENT DAYS
        LADIES
        <br/><br/>
        All Ladies are required to wear the following:- 
        A knee length skirt.
        Flesh coloured or clear tights.
        Short sleeved shirt or blouse.
        NO TATTOOS ARE PERMITTED.  If you have tattoos on upper back / back of neck / front of neck /  face, below shoulder to wrist (including hand)  or on or below knee or on feet these are not permitted.
        No denim jeans or casual (disco clothes) allowed.  If you are not in the required clothing you will not be granted an interview. 
        <hr>
      </P>
      <p>
        GENTLEMEN<br/><br/>
        All Gentlemen are required to wear the following:
        - Formal or smart trousers.
        Short sleeved shirt.
        NO TATTOOS ARE PERMITTED.  If you have tattoos on back of neck / front of neck / face, below your shoulder to wrist (including hand) these are not permitted.
        No denim jeans or casual (disco clothes) allowed.  If you are not in the required clothing you will not be granted an interview.
        When you arrive at an Assessment Day, you will register your attendance and then the presentation will commence. This is a detailed presentation explaining everything about the process of becoming Cabin Crew.
      </p>
        We look forward to seeing you then!
        <br><br>
        Apply for this Recruitment Day Online »
        <br><br>
        We look forward to seeing you then!
        <br><br>
        Crewlink Ireland Limited 

		</div>
  </div>



<div class="col-lg-4">
  <advert-sidebar></advert-sidebar>
  <testimonial-sidebar></testimonial-sidebar>   
</div>


</div>
