      <div class="container">
        <div class="row marketing">
          <div class="gallery mainTitle">
            <h2>Training Center Gallery</h2>
          </div>

          <script>
          // generate many pictures for gallery
           $(document).ready(function(){            
              var eleme = "<div class='container-mini-img col-lg-3 col-md-4 col-xs-6 thumb'> "+
                        "<img class='img-responsive' src='http://www.crewlink.ie/uploads/banners/thumb_training_centre_001.jpg' /> <h4>Training Center </h4>" +
                        "</div> " ; 

              for (var i = 0 ; i < 25 ; i ++){
                   $("#thumbContainer").append(eleme);                 
              }
            })
          </script>
          <!-- CONTAINER THUMB IMG MINI -->
          <div id="thumbContainer" class="col-lg-8 col-md-8 col-xs-12">
              <!-- CONTENT IMG MINI included by JS script-->
          </div>


          <!-- SIDEBAR -->
          <div class="col-lg-4 col-md-4 col-xs-12">

            <!-- Include components -->
            <div ng-controller="slideshowController">
               <slide-show images="images" ></slide-show>
            </div>         
            <advert-sidebar></advert-sidebar>         
            <testimonial-sidebar></testimonial-sidebar>
        
          </div>          
        </div>
      </div> 
    

